html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrap {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: darkgrey;
  color: #fff;
  text-align: center;
}

header {
  background: #3E474F;
  box-shadow: 0 .5em 1em #111;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
}

header label {
  color: #788188;
  cursor: pointer;
  display: inline-block;
  line-height: 4.25em;
  font-size: .667em;
  font-weight: bold;
  padding: 0 1em;
}

header label:hover {
  background: #2e353b;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em;
  background-color: darkgrey;
  background-position: 50% 50%;
  background-size: cover;
}

.slide-one {
  background-image: url('../images/img_1.jpg');
}

.slide-two {
  background-image: url('../images/img_2.jpg');
}

.slide-three {
  background-image: url('../images/img_3.jpg');
}

.slide-four {
  background-image: url('../images/img_4.jpg');
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
}










